<!doctype html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<title>lipu ma pi toki pona</title>

<style>

body {
    font-family: sans-serif;
}

aside {
    font-size: small;
}

</style>

<!--
    lipu li ijo suli tu, lon sewi lon anpa:
    - toki lili, lon sewi
    - lipu ma suli, lon anpa

    poki pi toki lili o suli wile pi toki insa ona. taso lipu ma o suli ale ken lon ni: ijo suli tu lipu la ale ona li lon sinpin ilo lon tenpo sama.

    wile ni pi suli poki li nasa lili, taso nasin "poki ko" li ken e ona. mi pana e ijo suli tu tawa poki selo li lawa "ko" e poki selo la ale li pona.
-->

<style>

html, body, #selo {
    height: 100%; /* ni ala la poki selo li lukin kama suli pi insa ona taso */
    margin: 0;
}

#selo {
    display: /* ko */ flex;
    flex-direction: column;
}
.toki {
    margin: 1em;
}

</style>

<!-- selo -->
<div id="selo">
    <div>
    <!-- toki -->
    <div class="toki">

        <h1>toki pona li lon ma!</h1>
        <p>lipu ma ni la o lukin e ni: ma la jan pi toki pona li lon seme? sina wile la <a href="https://forms.gle/nEGMiM73Td5PWwZP8">o pana e sina tawa lipu ma!</a>
        <aside>ni li wile sina ala la, sina alasa e <a href="https://discord.gg/6zkugJFU4x"><em>ma pona pi toki pona</em> lon ilo Siko</a> anu seme?</aside>

    </div>
    </div> <!-- poki selo namako li lon tan ni: ni ala la weka sewi pi poki h1 en weka sewi pi poki .toki li kama weka tu li kama ala wan li suli ike lukin. -->

    <!-- lipu ma -->
    <iframe src="https://umap.openstreetmap.fr/en/map/lipu-pi-sona-ma_1114317"
            style="
                   border: 0;
                   width: 100%;
                   height: 100%;
                   "
            allowfullscreen>
</div>
